body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #007bff; /* Primary color */
}

form {
    margin-bottom: 20px;
}

#result img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

#result p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #28a745; /* Success color */
}

#upload-history {
    margin-top: 20px;
}

/* Feedback form styles */
#feedback-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#feedback-form .form-group {
    margin-bottom: 15px;
}

#feedback-form label {
    font-weight: bold;
    color: #007bff; /* Primary color */
}

#feedback-form .form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
}

#feedback-form .btn {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #007bff; /* Primary color */
    color: #fff;
    border: none;
}

#feedback-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #28a745; /* Success color */
}

/* How It Works page styles */
.how-it-works-container {
    background-color: #007bff; /* Primary color background */
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.how-it-works-container h1 {
    color: #fff;
}

.how-it-works-container p,
.how-it-works-container ol,
.how-it-works-container ul {
    text-align: left;
    color: #fff;
}

.how-it-works-container ol li,
.how-it-works-container ul li {
    margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .how-it-works-container {
        padding: 30px 10px;
    }

    .how-it-works-container h1 {
        font-size: 24px;
    }

    .how-it-works-container p,
    .how-it-works-container ol,
    .how-it-works-container ul {
        font-size: 14px;
    }
}